html {
  position: relative;
  min-height: 100%;
  background: #25254e; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #25254e 0%, #0e0e21 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #25254e 0%,#0e0e21 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #25254e 0%,#0e0e21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  line-height: 60px;
}
main{
  padding-bottom: 150px;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background: none;
}
h1,h2,h3,.jumbotron,.btn{
  font-family: 'Montserrat', sans-serif; 
}

.jumbotron{
  position: relative;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  h1{
    text-shadow: 0 0 15px #20c9ff;
  }
}

.navbar{
  background: none;
  font-weight: 900;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 2rem;
    letter-spacing: .05rem;
  }
}

@media (max-width: 400px) {
  .navbar-brand{
    font-size: 1.5rem!important;
  }
  .breadcrumb{
    display: flex;
    flex-direction: column;
    .breadcrumb-item {
      margin-bottom: .25rem;
      &+.breadcrumb-item {
        padding-left: 0;
        &::before {
          padding-right: 0;
          content: "";
        }
      }
    }
  }
}

.btn{
  font-weight: 700!important;
  text-shadow: 0 2px 3px #00000030;
  .btn-secondary {
    background-color: #914e95;
    border-color: #914e95;
    &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active{
      background-color: #603363;
      border-color: #603363;
    }
  }
}

.shadow-sm {
  box-shadow: 0 0.15rem 0.2rem rgba(0,0,0,.35)!important;
}

.logo {
  -webkit-filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .6) );
  filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .6) );
  width: 50px;
  height: 50px;
}

.cover {
  width: 100%;
}

.spotify{
  border-radius: 2rem;
  border-color: #1ED760;
  background: #1ED760;
}
.card{
  border: none;
  color: #fff;
}
.breadcrumb,.card{
  background: none;
}
.breadcrumb{
  font-family: 'Montserrat', sans-serif; 
  a { color: #ffffff }
  .active {
    color: #1ed760;
    text-shadow: 0 0 25px #1ed7606e;
  }
}
hr{
  border-color: #fff;
}

.shadow-lg{
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5)!important;
}

.album {
  a { color:#fff;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    &:hover:not(.btn) { color:#1ed760 }
    &:active:not(.btn){
      transform: translatey(10px);
    }
  }
}