{% extends 'base.html' %}
{% block head %}{% endblock %} 
{% block body %}
{% if alert is defined %}
<div class="alert alert-{{alert_class}}" role="alert">
    {{alert}}
</div>
{% endif %}

<div class="card bg-dark p-5">
    <form class="d-flex flex-column" action="/add-album" method="POST">
        <div class="mb-3 d-flex flex-column">
            <label for="artist_name">Artist name</label>
            <input type="text" name="artist_name" id="artist_name">
            <label for="album_name">Album name name</label>
            <input type="text" name="album_name" id="album_name">
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre">
        </div>

        <button type="submit" class="btn btn-primary">Add album</a>
    </form>
</div>

{% endblock %}