{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<section class="jumbotron text-right mt-3 shadow-sm">
        <div class="container">
          <h1 class="jumbotron-heading mb-5">Codecool Album Collector</h1>
          <p class="lead">Team work 3 Project</p>
          <p>
            <a href="/albums/all" class="btn btn-primary my-2">Browse Library</a>
            <a href="/add-album" class="btn btn-secondary my-2">Add new album</a>
          </p>
        </div>
</section>
{% endblock %}